body {
  max-width: 1440px;
  margin: auto; /*追加*/
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 80px;
}
.header_title {
  width: 196px;
  background-color: #707070;
}
.small_logo {
  padding: 28px 56px;
}
.header_nav {
  margin: 33px 0;
}
.nav_item {
  margin-left: 36px;
}
.main {
  max-width: 1152px; /*コンテンツ幅を決めて、marginをautoにする*/
  margin: auto;
}
.main_content {
  display: flex;
}
.title {
  margin: 150px 0 50px 0;
  object-fit: contain;
}
.title img {
  max-width: 491px;
  width: 100%;
  height: auto;
}
#title_text {
  font-size: 27px;
}
.main_images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center; /*追加*/
}
.main_img {
  max-width: 575px;
  width: 100%;
  height: auto;
  /* height: 498px; */
}
.main_img_content {
  margin-bottom: 30px;
  width: calc(50% - 30px); /*追加*/
}
.main_img_item {
  width: 100%;
  height: 307px;
  object-fit: cover;
}

.main_but {
  text-align: right;
  display: block;
  margin-bottom: 100px;
}
footer {
  background-color: #eeeeee;
}
.footer {
  display: flex;
  margin: 0px 100px;
  padding: 100px 0;
  justify-content: space-between;
  background-color: #eeeeee;
}

@media screen and (max-width: 767px) {
}
